<h2 class="colorBlue">Den Talende Skraldespand (Logget ind)</h2>
<p>Her kan du tilføje lyde til databasen, justere generelle indstillinger og modificere den enkelte skraldespand.</p>
<br>
<h4 class="colorBlue">Upload lydfil til databasen</h4>
<form action="/" class="md-form">
    <div class="file-field">
        <div class="btn btn-primary btn-sm float-left">
            <input class="inputWidth" type="file" name="sound" accept="audio/*">
        </div>
        <input type="submit" class="btn btn-primary submitBtn">
    </div>
</form>
<br><br>
<h4 class="colorBlue">Modificer en konkret skraldespand</h4>
<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-spand1-list" data-toggle="list" href="#list-spand1"
                role="tab" aria-controls="spand1">Skraldespand 1</a>
            <a class="list-group-item list-group-item-action" id="list-spand2-list" data-toggle="list" href="#list-spand2"
                role="tab" aria-controls="spand2">Skraldespand 2</a>
            <a class="list-group-item list-group-item-action" id="list-spand3-list" data-toggle="list" href="#list-spand3"
                role="tab" aria-controls="spand3">Skraldespand 3</a>
            <a class="list-group-item list-group-item-action" id="list-spand4-list" data-toggle="list" href="#list-spand4"
                role="tab" aria-controls="spand4">Skraldespand 4</a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-spand1" role="tabpanel" aria-labelledby="list-spand1-list">Info om skraldespand her</div>
            <div class="tab-pane fade" id="list-spand2" role="tabpanel" aria-labelledby="list-spand2-list">Info om skraldespand her</div>
            <div class="tab-pane fade" id="list-spand3" role="tabpanel" aria-labelledby="list-spand3-list">Info om skraldespand her</div>
            <div class="tab-pane fade" id="list-spand4" role="tabpanel" aria-labelledby="list-spand4-list">Info om skraldespand her</div>
        </div>
    </div>
</div>